@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var roles = await UserManager.GetRolesAsync(user);
    string dashboardUrl = "#";
    
    if (roles.Contains("Admin"))
    {
        dashboardUrl = "/Admin";
    }
    else if (roles.Contains("Faculty"))
    {
        dashboardUrl = "/Faculty";
    }
    else if (roles.Contains("Student"))
    {
        dashboardUrl = "/Student";
    }
    
    <li class="nav-item">
        <a class="nav-link text-light" href="@dashboardUrl">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Logout">Logout (@user.FirstName @user.LastName)</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
</ul> 